:root{
    --primary-color: #4CAF4F;
}

.green-btn{
    background: var(--primary-color);
    color: #FFF;
    font-weight: 400;
}
.green-btn:hover,.green-btn:focus{
    background: #38853b;
    color: #FFF;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    color: #ffffff;
    background-color: var(--primary-color);
    border-color: none;
}

.green-text{
    color: var(--primary-color);
}

.tesla, .big-numbers{
    background-color: #F5F7FA;
}

.tesla .space-margin-bottom{
    margin-bottom: 55px;
}

.card .card-image{
    width: 368px;
    height: 287px;
}

.description-card{
    transform: translateY(-50%);
    background: #F5F7FA;
    border-radius: 10px;
    width: 317px;
    height: 176px;
    text-align: center;
    justify-self: center;
    box-shadow: 0px 8px 16px #abbed166;
}

.description-card h4{
    color: #717171;
    font-weight: 600;
    font-size: 20px;
    padding: 16px;
    height: 84px;
    margin-bottom: 24px;
}

.description-card a{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--primary-color);
    text-decoration: none;
}

.get-demo{
    background-color: #F5F7FA;
}

.get-demo h1{
    font-size: 64px;
    font-weight: 600;
}

footer{
    background-color: #263238;
}