:root{
    --primary-color: #4caf4f;
}

.green-btn{
    background: var(--primary-color);
    color: #fff;
    font-weight: 400;
}

.green-btn:hover, .green-btn:focus{
    background-color: #38853b;
    color: #fff;
}